@model Kokuhaku.Models.deta

@{
    ViewBag.Title = "Index";
}

    <head>
        <link rel="stylesheet" href="~/Content/CSS.css" type="text/css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <title>告白メール代行</title>
    </head>
<h1 class="text-center" style="color:hotpink">メールでの告白代行致します。</h1>


<form action="/kokuhaku/mail" id="mail">
        <div class="text-center ">
            <strong>・伝えたい相手のお名前orニックネームを入力してください。</strong>
        </div>

        <div class="text-center" style="position:relative;right:30px;">
            @Html.TextBox(
         "name", //要素名
         "",     //デフォルト値
         new { id = "name", maxlength = 8, style = "width:300px;" }   //その他の属性
         )
        </div>
        <div class="text-center " style="position:relative;right:50px;">
           <strong> *全角・半角８文字以内で入力してください</strong>
        </div>

    <br class="kaigyou" />

        <div style="position:relative;left:180px;">
            <strong>・好きになった理由</strong>
            <br />
            @Html.DropDownListFor(
       model => model.honki,          // プロパティ
       (IEnumerable<SelectListItem>)ViewBag.SelectReason,  // 選択オプション
       new { @class = "title_list", id = "reason" }  // その他の属性
     )
        </div>

        <br class="kaigyou" />


        <div style="position:relative;left:180px;">
            <strong>・本気度</strong>
            <br />
            @Html.DropDownListFor(
       model => model.honki,          // プロパティ
       (IEnumerable<SelectListItem>)ViewBag.SelectHonki,  // 選択オプション
       new { @class = "title_list", id = "honki" }  // その他の属性
     )
        </div>

    <br class="kaigyou" />

        <div style="position:relative;left:180px;">
            <strong>・返事はいつまでにほしい？</strong>
            <br />
            @Html.DropDownListFor(
       model => model.honki,          // プロパティ
       (IEnumerable<SelectListItem>)ViewBag.SelectHenzi,  // 選択オプション
       new { @class = "title_list", id = "henzi" }  // その他の属性
     )
        </div>

    <br class="kaigyou" />

        <div class="text-right">
            <input type="button" class="btn btn-danger btn-lg" name="sousin" id="sousin" value="送信" style="width:200px;height:40px;position:relative;right:280px;" />
        </div>


        <div class="container">
            <img src="~/Content/gazou.jpg" style="position:absolute;top:230px;left:700px;" width="310" height="350" />
        </div>
</form>



@section scripts {
    <script type="text/javascript">
        $(function () {
            //ボタンをクリックでデータを入れる
            $('#sousin').click(function (e) {
                var reason = $("#reason").val();
                var honki = $("#honki").val();
                var henzi = $("#henzi").val();
                var name = $("#name").val();
                //入力欄に文字が入っていなければ警告を表示させる。
                if (name == "") {
                    alert("名前は必ず入力してください。");
                } else {
                   // $('#mail').attr('action', data('action'));
                   // $('#mail').submit();
                   // $().load("/kokuhaku/mail",
                     //   { keyword: $('#name').val() });
                
                    location.href = "/kokuhaku/mail?honki=" + honki + "&henzi=" + henzi + "&reason=" + reason ;
                }
            });
    });
</script>
}
