@model IEnumerable<Kokuhaku.Models.kokuhaku>

@{
    ViewBag.Title = "Index";
}

<h2>メールでの告白代行致します。</h2>
<table class="table">
    <tr>
        <th>・伝えたい相手のお名前orニックネームを入力してください。</th>
    </tr>
</table>

