@model IEnumerable<Kokuhaku.Models.matome>

@{
     ViewBag.Title = "メール画面";
}

<head>
    <link rel="stylesheet" href="~/Content/CSS.css" type="text/css" />
    <link href="~/Content/box.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <title>告白メール文</title>
</head>
<h2 class="text-center" style="color:hotpink">あなたにぴったりの告白メール分です</h2>

<table class="table-bordered text-center" style="border-width:5px; width: 70%; height: 100%; margin-left:auto;margin-right:auto;">
@foreach (var item in Model)
{
    <tr>
        <td style="border-bottom-width:3px;">
            件名：<t class="ken">大事なメールだから落ち着いて開いてほしい。。。</t>
        </td>
    </tr>
    <tr>
        <td style="border-bottom-width:3px;">
            <t class="tai">【@item.name】さんへ<t/>
        </td>
    </tr>


        <tr>
            <td>ぼくは人生初めての告白メールを作ったよ。</td>
        </tr>
        <tr>
            <td>最初はこんなメール笑われると思ったからやめるつもりだった。</td>
        </tr>
        <tr>
            <td>でもAqua Timezの「千の夜をこえて」を聴いて考え直したんだ。</td>
        </tr>
        <tr>
            <td>好きになった理由は<t class="hutoku">『@item.riyuudo』</t></td>
        </tr>
        <tr>
            <td>正直好きになる理由なんてどうでもよかったりする。</td>
        </tr>
        <tr>
            <td>バカみたいな理由で本気かどうか疑ってると思うけど、<t class="hutoku">『@item.honkido』</t></td>
        </tr>
        <tr>
            <td>言いたいことが言えて良かった。</td>
        </tr>
        <tr>
            <td>返事は<t class="hutoku">『@item.henzido』</t></td>
        </tr>
    }
    <tr>
        <td><t class="hutoku">・</t></td>
    </tr>
    <tr>
        <td><t class="hutoku">・</t></td>
    </tr>
    <tr>
        <td><t class="hutoku">・</t></td>
    </tr>
    <tr>
        <td><t class="hutoku">etc</t></td>
    </tr>
</table>


