@model IEnumerable<Kokuhaku.Models.kokuhaku>

@{
    ViewBag.Title = "メール画面";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/Content/CSS.css" >
    <meta charset="utf-8" />
    <title>告白メール文</title>
</head>
<h2 class="text-center">あなたにぴったりの告白メール分です</h2>

<table class="table-bordered" style="width: 70%; height: 100%; margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <strong>件名：大事なメールだから落ち着いて開いてほしい。。。</strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong>//名前を受け取る場所　＋　さんへ</strong>
        </td>
    </tr>
    <tr>
        <td>
            <h1>メール内容</h1>
        </td>
    </tr>
</table>

