body {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('haikei.jpg');
    background-size: cover;
}

table {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('flower-back1298.jpg');
    background-size: cover;
}
