body {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('haikei.jpg');
    background-size: cover;
}

table {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('tyou.jpg');
    background-size: cover;
}

td {
    padding:5px;
}

p.gyou::after {
    line-height: 250%;
    margin: 10px 0px 0px 0px;
}

.title_list{
    width:200px;
    font-size:32px;
    
}

br.kaigyou{
    line-height:4em;
}

t.ken {
    font-weight: bold;
    color: blue;
}

t.tai {
    font-weight: bold;
    color:navy;
}

t.hutoku {
    font-weight: bold;
}
