body {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('haikei.jpg');
    background-size: cover;
}

table {
    color: #000000;
    background-color: #f8dce0;
    background-image: url('flower-back1298.jpg');
    background-size: cover;
}

p.gyou::after {
    line-height: 250%;
    margin: 10px 0px 0px 0px;
}

.title_list{
    width:200px;
    font-size:32px;
    
}

br.kaigyou{
    line-height:4em;
}

